input {
    margin: 8px;
    margin-right: 0;
    padding: 12px;
}

button {
    margin: 8px;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    background-color: rgba(129, 129, 129, 0.70);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 300;
    transition-delay: 200;
    color: white;
}

button:hover {
    background-color: rgba(129, 129, 129, 0.8);
}

.container {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 12px;
}

.chat-container, .add-button-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: #86868675;
    margin: 6px;
    margin-top: 0;
    border-radius: 8px;
}

.add-button-container {
    margin-top: 12px;
    margin-bottom: 18px;
    border: 1px solid rgb(221, 221, 221)
}

#add-button {
    height: 20px;
}

.side-bar {
    color: #222222;
    background-color: #dadada50;
}

.chat {
    display: grid;
    grid-template-rows: 1fr min-content;
    border-radius: 8px;
    background: #dadada50;
    height: max-content;
    height: 98vh;
}

.chats {
    overflow-y: scroll;
}

#chat-area {
    overflow-y: scroll;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 12px;
    margin: 8px;
    border-radius: 6px;
    width: fit-content;
    max-width: 300px;
}

.message-left {
    background-color: #eee676;
    align-self: flex-start;

}

.message-right {
    background-color: #89f080;
    align-self: flex-end;
}

.user-area {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 12px;
}