@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
}

button {
    border: none;
    cursor: pointer;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}